html
{
    box-sizing: border-box;
}

*, *::before, *::after
{
    box-sizing: border-box;
}

body
{  
    padding: 0;
    margin: 0;
    font-family: 'TT Lakes';
    background-color: #ffffff;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.burger a
{
    text-decoration: none;
    color: #1b1c21;
}

.burger
{   
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 320px;
    height: 100vh;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
}

.main-burger
{
    flex: 1 1 auto;
}

.burger__top-btn
{
    padding: 0;
    border: 0;
    background-color: #ffffff;
}

.burger__top-pictures
{
    display: flex;
    align-items: center;
    padding: 18.73px 24px;
    margin-bottom: 46.27px;
}

.burger__top-group-img
{
    margin-left: 16.73px;
    margin-right: 78.27px;
}

.main-burger__list
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-burger__list li
{
    padding-left: 24px;
    padding-bottom: 32px;
}

.main-burger__list li:last-child
{
    padding-bottom: 0;
}

.main-burger__list a
{
    font-size: 16px;
    text-decoration: none;
    color: #1b1c21;
    font-weight: 600;
    letter-spacing: -0.2px;
    transition: color 0.3s ease-in-out;
}

.main-burger__list a:hover
{
    color: #7e7e82;
}
.active a
{
    color: #7e7e82;
}

.main-burger li:last-child
{
    margin-bottom: 10px;
}

.footer-burger
{
    display: flex;
    flex-direction: column;
    margin-right: 98px;
    padding-left: 24px;
}

.hightclass::before
{
    content: "";
    width: 4px;
    height: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #41f6d7;
    position: absolute;
    left: 0;
    transform: translateY(-5px);
}


.footer-burger__list-img
{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.footer-burger__mail
{
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: 500;
    letter-spacing: -0.2px;
}

.footer-burger__mail a:hover
{
    opacity: 0.8;
}

.footer-burger__number
{   
    line-height: 32px;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: -0.6px;
}

.footer-burger__number a:hover
{
    opacity: 0.7;
}

.footer-burger__list-lang
{
    color:#1b1c21;
    display: flex;
    font-size: 16px;
    gap: 7px;
    letter-spacing: -0.2px;
    font-weight: 500;
}

.footer-burger__list-lang a
{
    transition: color 0.3s ease-in-out;
}

.footer-burger__list-lang .footer-burger__li-hover
{
    color: #7e7e82;
}

.footer-burger__list-lang li a:hover
{
    color: #7e7e82;
}
